/*Reset et bases*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-family:"Roboto";
}
h1 {
  font-family:"Pacifico";
  font-size: 36px;
  color: #FF2D43;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
}
h2 {
  font-size: 26px;
  color: #fff;
}
h3 {
  font-size: 22px;
}
p {
  font-size: 18px;
}
section{
  padding: 0px 5px;
}
article {
  margin: 30px 5px;
}
article img {
  width:100%;
  border-radius: 25px 10px 25px 10px;
  border: 3px solid #fff;
  padding: 5px;
}
article p{
  margin: 5px 0;
}
iframe {
  width:100%;
  height: 220px;
  border-radius: 25px 10px 25px 10px;
  border: 3px solid #fff;
  padding: 5px;
  margin: 5px 0;
}

/*police et selection*/
@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico')
  }
@font-face {
    font-family: 'Roboto';
    src: local('Roboto')
  }
  ::selection {
    color: #000;
    background: #FF2D43;
  }
  ::-moz-selection {
    color: #000;
    background: #FF2D43;
  }

 /*Bouton du menu ouvert-fermé*/
#check {
  display: none;
}

.buttonMenu {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: linear-gradient(to top right, #FF2D43, 80%, #001F3F);
  padding: 12px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding-top: 8px;
  line-height: 8px;
  z-index: 201;
  border: 1px solid #fff;
  border-radius: 15px 5px 15px 5px;
  box-shadow: -1px 3px 5px #818181;
}

.buttonMenu span {
  height: 3px;
  width: 100%;
  background: #000;
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.62, 0.43, 0.35, 1.47);
}

/* Changement de couleur au clic */
#check:checked + .buttonMenu {
  background: linear-gradient(to top right, #001F3F, 80%, #FF2D43);
}

#check:checked + .buttonMenu span {
  background: #fff;
}

#check:checked + .buttonMenu span:nth-child(1) {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

#check:checked + .buttonMenu span:nth-child(2) {
  width: 0;
}

#check:checked + .buttonMenu span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px) translateX(7px);
}


  /*Menu ouvert*/
  nav {
    transition: all 0.4s ease;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    padding: 0 5px;
    border-radius: 0 0 20px 10px;
  }
  #check:checked ~ nav {
    background-color: #000;
    height: 355px;
  }
  nav a {
    text-decoration: none;
    font-size: 22px;
    /* transition: all 0.4s cubic-bezier(0.22, 0.43, 0.35, 1.5); */
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    width: 100%;
    text-align: center;
    display: block;
  }
  #check:checked ~ nav a {
    border-radius: 15px 5px 15px 5px;
    background-color: #FF2D43;
    color: black;
    font-weight: 600;
    padding: 8px;
    opacity: 1;
    transform: scale(1);
    border: 1px solid #fff;
    margin: 5px 0px;  
  }
  #check:checked ~ nav a:hover {
    background-color: #001F3F;
    color: white;
    border: 1px solid #000;
  }
  #check:checked ~ nav a.menu-active {
    background-color: #000;
    color: #fff;
  }
  #check:checked ~ nav a.menu-active:hover {
    background-color: #001F3F;
    color: white;
    border: 1px solid #000;
  }

    /* Header mobile */
    header {
      display: flex;
      align-items: center;
      position: fixed;
      background-color: #000;
      border-bottom: 3px solid #fff;
      padding: 10px;
      width: 100%;
      height: 75px;
      z-index: 1;
    }
    .logo {
      width: 51px;
    }
    header a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    header a p {
      margin-left: 10px;
      color: #fff;
    }
  
    /* Footer mobile*/
    footer {
      background-color: #001F3F;
      border-top: 3px solid #FF2D43;
      color: #fff;
    }
    footer a {
      color: #fff;
    }
    footer a:hover {
      color: #FF2D43;
      transition: all 400ms ease-out;
      transform: scale(1.1);
    }
    .fa-facebook{
      margin: 10px 0px 10px 10px;
      font-size: 32px;
    }
    .fa-instagram {
      margin: 10px 0 10px 12px;
      font-size: 36px;
    }
    .fa-youtube {
      margin: 10px 0 10px 12px;
      font-size: 36px;
    }
    .pictoAlig{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    footer ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    footer li a {
      margin: 0 8px;
      font-size: 14px;
    }
    .copyrigth {
      font-size: 10px;
      padding: 10px 0;
    }
    
    /*Button All*/
    .buttonPlus {
      display: inline-block;
      background: linear-gradient(to top right, #FF2D43, 70%, #001F3F);
      color: #000;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 10px 5px 10px 5px;
      cursor: pointer;
      transition: transform 0.3s ease;
      position: relative;
      overflow: hidden;
      box-shadow: -1px 3px 5px #ffffff;
    }
    .buttonPlus:hover {
      animation: bounce 500ms;
      box-shadow: none;
      background: linear-gradient(to top right, #001F3F, 70%, #FF2D43);
      color: #fff;

    }
    @keyframes bounce {
      0% {
        transform: scale(1);
        
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
  

  /*Mobile style*/
  /*Accueil mobile*/

  /*Adaptation logo moved, vinyle rotate*/
  .logo-rotate {
    display: flex;
    justify-content: center;
  }
  .vinyle {
    position: absolute;
    width: 260px;
    margin: 123px 0 0 0px;
    animation: rotate 5000ms linear infinite;
    z-index: -1;
  }
  .logoAccueil {
    width: 130px;
    margin-top: 130px;
    margin-left: 166px;
    animation: moved 5000ms linear infinite;
  }
  @keyframes rotate {
    to {
      transform: rotate(-360deg);
    }
  }
  @keyframes moved {
    0% {
        transform: rotate(0deg);
    }
      50% {
        transform: rotate(10deg);
    }

      100% {
        transform: rotate(0deg);
    }
  }

  /*espacement logo au bouton 'venez nous decouvrir'*/  
  .bienvenue{
    margin: 30px 0 -20px 0;
    padding: 0;
  }

  /* Section 1 ACCUEIL mobile*/
  #section1 {
    height: 100vh;
  }
  #section1 h1 {
    margin: 30px 0 60px 0;
    color: #fff;
    -webkit-text-stroke: 0px;  
  }
  #section1 .buttonDecouverte {
    background: linear-gradient(to top right, #FF2D43, 80%, #001F3F);
    color: black;
    border: 2px solid #fff;
    box-shadow: -1px 3px 5px #818181;
    padding: 15px 20px;
    border-radius: 30px 10px 30px 10px;
    font-weight: 600;
  }
  #section1 .buttonDecouverte:hover {
    background: linear-gradient(to top right, #001F3F, 80%, #FF2D43);
    color: #fff;
    box-shadow: none;
    border: 2px solid #000;
    transition: 400ms ease-out;
  }

  
  /* Section 2 Les artistes mobile */
  #section2 h1 {
    padding: 100px 0 0 0;
  }
  #section2 p {
    margin: 10px 0;
  }
  #section2 .buttonPlus {
    margin: 20px 0;
  }
  
  /* Section 3 Nos services mobile */
  #section3{
    margin: 90px 0 0px 0;
  }
  #section3 .buttonPlus {
    margin: 20px 0;
  }
  
  /* Section 4 Portfolio mobile*/
  #section4 {
    margin: 90px 0 0 0;
  }
  #section4 .buttonPlus {
    margin: 20px 0;
  }
  
  /* Section 5 Actualités mobile*/
  #section5 h1 {
    margin: 90px 0 0px 0;
  }
  #section5 .buttonPlus {
    margin: 20px 0;
  }

  /* Section 6 FAQ mobile*/
  #section6 h1 {
    margin: 90px 0 0px 0;
  }
  #section6 .buttonPlus {
    margin: 20px 0;
  }
  
  /* Section 7 Contact mobile*/
  #section7 h1{
      margin: 90px 0 30px 0;
    }
    .fa-phone, .fa-location-dot, .fa-envelope{
      color: #FF2D43;
      margin: 30px 0px 10px 0;
      font-size: 22px;
    }
  #section7 a{
    color: #fff;
  }
  #section7 a:hover {
    transition: all 400ms ease-out;
    color:#FF2D43;
    opacity: 0.7;
  }
    #section7{
      margin: 90px 0 0px 0;
    }
  
/*all h2 accueil margin*/
    #section2 h2, #section3 h2, #section4 h2, #section5 h2, #section6 h2 {
      margin:10px 0;
    }

  /*adaptation animation bas de page*/
  .img-mic-danse {
    width: 160px;
    margin: 20px 0;
    animation: moved 8000ms linear infinite;
  }
  .contact-infos {
    z-index: 2;
  }
  .note-move {
    display: flex;
    justify-content: center;
  }
   .note2, .note4, .note6, .note8,.note10, .note12 {
    position: absolute;
    z-index: -100;
    animation: elevation-note 8000ms infinite ;
    opacity: 0;
  }
  .note1, .note3, .note5, .note7, .note9, .note11 {
    position: absolute;
    z-index: -100;
    animation: elevation-note2 8000ms infinite ;
    opacity: 0;
  }
  .note1 {
    margin: -8px 0 0 40px;
    width: 30px;
  }
  .note4 {
    margin: -10px 0 0 -80px;
    width: 22px;
    animation-delay: 1200ms;
  }
  .note6 {
    margin: 40px 0 0 -140px;
    width: 16px;
    animation-delay: 2400ms;
  }
  .note2 {
    margin: -18px 0 0 -18px;
    width: 34px;
    animation-delay: 3000ms;
  }
  .note3 {
    margin: 70px 0 0 -160px;
    width: 16px;
    animation-delay: 3600ms;
  }
  .note5 {
    margin: -15px 0 0 -37px;
    width: 23px;
    animation-delay: 4000ms;
  }
  .note7 {
    margin: -10px 0 0 -100px;
    width: 30px;
    animation-delay: 4600ms;
  }
  .note10 {
    margin: 10px 0 0 -130px;
    width: 22px;
    animation-delay: 5100ms;
  }
  .note12 {
    margin: 90px 0 0 -165px;
    width: 16px;
    animation-delay: 5700ms;
  }
  .note8 {
    margin: -12px 0 0 -80px;
    width: 34px;
    animation-delay: 6000ms;
  }
  .note9 {
    margin: -8px 0 0 -110px;
    width: 16px;
    animation-delay: 6800ms;
  }
  .note11 {
    margin: -13px 0 0 20px;
    width: 23px;
    animation-delay: 7500ms;
  }
  @keyframes elevation-note {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
      20% {
        opacity: 1;
    }
      100% {
        transform: rotate(270deg);
        margin-top: -500px;
        opacity: 0;
    }
  }
  @keyframes elevation-note2 {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: rotate(-270deg);
      margin-top: -500px;
      opacity: 0;
    }
  }
  
  /*Artistes*/
  #artistes h1 {
    padding: 100px 0 0 0;  
  }
  #artistes h2 {
  margin:30px 0 10px 0;
  }
  #artistes .flip-card {
    background-color: transparent;
    width: 280px;
    height: 340px;
    perspective: 1000px;
    text-align: center;
    margin: 20px auto;
  }
  #artistes .flip-card-front { 
    height: 100%;
    background: #fff;
    color: #001F3F;
    padding: 10px;
    box-shadow: -1px 3px 5px #818181;
  }
  #artistes .flip-card-front img{
    border-radius: 0;
    padding:0px;
    border: none;
  }
  /*Club inclinaison polaroid*/
  #artistes .pol1{
    transform: rotate(-3deg);
  }
  #artistes .pol2{
    transform: rotate(4deg);
  }
  #artistes .pol3{
    transform: rotate(-6deg);
  }
  #artistes .artistes-ancre{
    color: #FF2D43;
  }
  #artistes .artistes-ancre:hover{
    opacity: 0.5;
    transition: all 400ms ease-in;
  }
  #artistes #artiste-ariane, #artistes #artiste-jessica, #artistes #artiste-mike {
    margin: 40px 0 20px 0;
  }
  

  /*Services*/
  #services h1 {
    padding: 100px 0 0px 0;
    margin-bottom:-10px ;  
  }
  #services h2{
    margin:40px 0 10px 0;
  }
  /*Services carousel*/
  #services .carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 0px 0px 10px 0px;
    margin-bottom: 10px; 
  }
  #services .carousel-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex: 1 0 250px;
    scroll-snap-align: start;
  }
  #services .no-flip-card {
    display: flex;  
    border: 3px solid #fff;
    border-radius: 25px 10px 25px 10px;
  }
  #services .no-flip-card-inner{
    width: 320px;
    height: 320px;
    border: 1px #fff solid;
    color: #000;
    margin: 5px;
    background-size: cover;
  }
  #services .section1-3{
    border-radius: 20px 0 0 5px;
  }
  #services h3 {
    margin:20px 0px 10px 0px;
  }
  .fa-circle-arrow-right{
    font-size: 30px;
    position: relative;
    margin: 0px 0 0px 0px;
    color: #001F3F;
  }
  #services .no-flip-card-inner:hover .fa-circle-arrow-right {
    animation: bounce 500ms;
    color: #FF2D43;
    scale: 1.2;
    opacity: 0.9;
  }
    #services .section2-3{
    background: linear-gradient(90deg, #000 0%, #505050 100%);
    margin: 5px;
    padding: 10px;
    color: #fff;
  }
  #services .section3-3{
    background: linear-gradient(90deg, #8e8e8e 0%, #fff 100%);
    padding: 10px;
    border-radius: 0 5px 20px 0;
  }
  #services .img-1{
    background-image: url("./img/services-comedies-musicales.png");  
  }
  #services .img-2{
    background-image: url("./img/services-cabaret.png");
  }
  #services .img-3{
    background-image: url("./img/services-spectacles-divers.png");
  }
  #services .img-4{
    background-image: url("./img/services-cours-danse.png");
  }
  #services .img-5{
    background-image: url("./img/services-theatre.png");
  }
  #services .img-6{
    background-image: url("./img/services-chant.png");  
  }
  #services .img-7{
    background-image: url("./img/services-artistique.png");  
  }
  #services .img-8{
    background-image: url("./img/services-mariage.png");  
  }
  #services .img-9{
    background-image: url("./img/services-anniversaire.png");  
  }
  #services .img-10{
    background-image: url("./img/services-entreprise.png");  
  }
  #services .img-11{
    background-image: url("./img/services-spectacle-mesure.png");  
  }
  #services .img-12{
    background-image: url("./img/services-partenariat.png");  
  }
  #services .img-13{
    background-image: url("./img/services-culturel.png");  
  }
  #services .img-14{
    background-image: url("./img/services-ecole.png");  
  }
  #services .img-15{
    background-image: url("./img/services-scene.png");  
  }
  #services .img-16{
    background-image: url("./img/services-art.png");  
  }
  #services .img-17{
    background-image: url("./img/services-conseil.png");  
  }
  #services .img-18{
    background-image: url("./img/services-projet.png");  
  }
  #services .img-19{
    background-image: url("./img/services-expertise.png");  
  }
  #services .img-20{
    background-image: url("./img/services-enterement.png");  
  }
  

  /*Actualites*/
  #actualites h1 {
    padding: 100px 0 0 0;  
  }
  #actualites h2 {
    margin: 30px 0 -18px 0;  
  }
  #actualites img{
    border: 1px solid #fff;
    border-radius: 20px 5px 20px 5px;
    padding: 0px;
    margin: 0 0 10px 0;
    width: 320px;
  }
  #actualites a{
    color: #fff;
    transform: scale(1);
  }
  #actualites .card {
    width: 340px;
    margin: 10px auto 20px auto;
    padding: 0 0 10px 0;
    border-radius: 25px 10px 25px 10px;
    border: 3px solid #fff;
  }
  #actualites .card:hover{
    transition: all 400ms ease-out;
    transform: scale(1.01);
    opacity: 0.6;
  }
  #actualites .card h3{
    margin: 10px 0 0 0;
  }
  #actualites .button-article {
    position: relative;
    background: linear-gradient(to top right, #FF2D43, 70%, #001F3F);
    border: 1px solid #fff;
    border-radius: 20px 0 20px 0;
    width: 45%;
    padding: 10px 0;
    margin: -57px 0 0px 177px;
    animation: look-article 3000ms linear infinite;
  }
  @keyframes look-article {
    0% {
      opacity: 1;
    }
      20% {
        opacity: 0;
    }
      50% {
        opacity: 1;
    }
  }
  #actualites .buttonPlus{
    margin: 10px 0 40px 0;
  }
  

  /*A la une Article*/
  #article{
    margin: 0 10px;
  }
  #article h1 {
    padding: 100px 0 0 0;  
  }
  #article img {
    margin: 10px 0px;
  }
  #article h2 {
    margin: 20px 0 0 0;
  }
  #article a p {
    color: #fff;
    text-decoration:underline;
  }
  #article a p:hover {
    color:#FF2D43;
    transition: all 400ms ease-out;
  }
  #article .buttonPlus {
    margin: 0 0 40px 0;
  }
  

  /*Archives*/
  #archives h1 {
    padding: 100px 0 0 0;  
  }
  #archives h2{
    margin: -10px 0 20px 0;
    padding: 0;
  }
  #archives .archives-menu{
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #archives .archives-menu a{
    font-size: 22px;
    color: #000;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 20px 10px 20px 10px;
    border: 1px solid #fff;
    box-shadow: -1px 3px 5px #818181;
  }
  #archives .archives-menu a:hover{
    color: #fff;
    background-color: #000;
    transition: all 400ms ease-in;
    box-shadow: none;
    border: 1px solid #fff;
  }
  #archives .buttonPlus{
    margin: 20px 0 0px 0;
  }

  
/*Contact*/
  #contact h1 {
    padding: 100px 0 0 0;  
  }
  #contact .fa-phone, .fa-location-dot, .fa-envelope{
    font-size: 28px;
  }
  #contact .fa-facebook, #contact .fa-instagram, #contact .fa-youtube, #contact .fa-discord {
    margin: 20px 0 5px 0;
    color: #FF2D43;
  }
  #contact a {
    color:white;
  }
  #contact a:hover {
    transition: all 400ms ease-out;
    color:#FF2D43;
    opacity: 0.7;
  }
  #contact .note2,#contact .note4,#contact .note6,#contact .note8,#contact .note10, #contact .note12 {
    position: absolute;
    z-index: -100;
    animation: contact-elevation-note 8000ms infinite ;
    opacity: 0;
  }
  #contact .note1, #contact .note3, #contact .note5, #contact .note7, #contact .note9, #contact .note11 {
    position: absolute;
    z-index: -100;
    animation: contact-elevation-note2 8000ms infinite ;
    opacity: 0;
  }
  #contact .note1 {
    margin: -8px 0 0 40px;
    width: 30px;
  }
  #contact .note4 {
    margin: -10px 0 0 -80px;
    width: 22px;
    animation-delay: 1200ms;
  }
  #contact .note6 {
    margin: 40px 0 0 -140px;
    width: 16px;
    animation-delay: 2400ms;
  }
  #contact .note2 {
    margin: -18px 0 0 -18px;
    width: 34px;
    animation-delay: 3000ms;
  }
  #contact .note3 {
    margin: 70px 0 0 -160px;
    width: 16px;
    animation-delay: 3600ms;
  }
  #contact .note5 {
    margin: -15px 0 0 -37px;
    width: 23px;
    animation-delay: 4000ms;
  }
  #contact .note7 {
    margin: -10px 0 0 -100px;
    width: 30px;
    animation-delay: 4600ms;
  }
  #contact .note10 {
    margin: 10px 0 0 -130px;
    width: 22px;
    animation-delay: 5100ms;
  }
  #contact .note12 {
    margin: 90px 0 0 -165px;
    width: 16px;
    animation-delay: 5700ms;
  }
  #contact .note8 {
    margin: -12px 0 0 -80px;
    width: 34px;
    animation-delay: 6000ms;
  }
  #contact .note9 {
    margin: -8px 0 0 -110px;
    width: 16px;
    animation-delay: 6800ms;
  }
  #contact .note11 {
    margin: -13px 0 0 20px;
    width: 23px;
    animation-delay: 7500ms;
  }
  @keyframes contact-elevation-note {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
      20% {
        opacity: 1;
    }
      100% {
        transform: rotate(270deg);
        margin-top: -1100px;
        opacity: 0;
    }
  }
  @keyframes contact-elevation-note2 {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
      20% {
        opacity: 1;
    }
      100% {
        transform: rotate(-270deg);
        margin-top: -1100px;
        opacity: 0;
    }
  }


/*faq*/
.info-title {
    padding: 100px 0 0 0;
    margin-bottom: -60px;
  }
  #faq h2 {
    padding: 0 0 20px 0;  
    border-bottom: 1px solid #fff;
    margin: auto;
  }
  #faq details {    
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 0px 10px 10px;
    text-align: left;
  }
  #faq summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  list-style: none;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid transparent;
  font-size: 18px;
}
#faq summary:after {
  content: "\002B";
  padding: 3px 8px;
  margin: 5px 10px 5px 5px;
  border-radius: 10px 5px 10px 5px;
  background-color: #FF2D43;
  color: #fff;
  border: 1px solid #fff;
}
#faq details[open] summary {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 15px 15px 0 0;
  margin-right: 10px;
}
#faq details[open] summary:after {
  content: "\00D7";
  margin: 5px 0px 5px 5px;
}
#faq .reponse {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 0 0 15px 15px;
}	
#faq details[open] summary ~ * , details[open] summary:after {
  animation: sweep 800ms ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0}
  100%  {opacity: 1}
}
#faq .reponse p {
padding: 0 0 5px 0;
}
#faq article {
  margin:0;
  padding: 90px 0 0 0;
}

/*#portfolio*/
/*#portfolio*/
/*#portfolio*/
/*#portfolio*/
/*#portfolio*/
/*#portfolio*/
/*#portfolio*/
/*#portfolio*/



  
/*Tab style*/
    @media (min-width: 768px) {
      
/*Menu tab*/
  #check:checked ~ nav {
    background-color: #000;
    height: 355px;
  }

/* Header tab */
  header {
    position: relative;
  }

/* Section 1 ACCUEIL tab*/
    #section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 400px;
      padding-left: 170px;
    }
    .vinyle {
      width: 280px;
      margin: 40px 0 0 -150px;
    }
    .logoAccueil{
      margin: 40px 0 0 25px;
      padding:0px;
      width: 145px;
    }
    .txt-button-decouverte{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0 40px;
      margin: 0;
    }
    #section1 .buttonDecouverte {
      width: 250px;
      height: 50px;
      position: absolute;
      margin: 200px 0 0 0;
    }
    

/* Section 2 ACCUEIL tab*/
    #section2 article, #section3 article, #section4 article, #section5 article, #section6 article{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 55px 1fr;
    }
    #section2 article img, #section4 article img, #section6 article img{
      grid-column:1/2;
      grid-row: 1/5;
    }
    #section2 article h2, #section4 article h2, #section6 article h2{
      grid-column:2/3;
      grid-row: 1/2;
    }
    #section2 p, #section4 article p, #section6 article p{
      grid-column:2/3;
      grid-row: 2/3;
      margin:0px 0 0 0;
      padding:0 10px;
    }
    #section3 article img, #section5 article img {
      grid-column:2/2;
      grid-row: 1/5;
    }
    #section3 article h2, #section5 article h2{
      grid-column:1;
      grid-row: 1;
    }
    #section3 p, #section5 p{
      grid-column:1;
      grid-row: 2;
      margin:0px 0 0 0;
      padding:0 10px;
    }
    #section2 h1{
      padding: 80px 0 0 0;
    }
  
    /*Tab margin top all page*/
    #artistes h1, #services h1, #portfolio h1, #actualites h1, #faq h1, #contact h1, #archives h1, #article h1  {
      margin: -75px 0 0 0;
    }
    .faq-title {
      margin: 25px 0 0 0;
    }
  
    /*Tab Artistes h2*/
    #artistes .img-artistes {
      width: 400px;
    }
    #artiste-ariane, #artiste-jessica, #artiste-mike {
      padding: 10px 0 0 0;
    }

    
    /*Tab services*/
    #services h1{
      margin-bottom: -10px;
    }

    .fa-circle-arrow-right{
      display: none;
    }
    #services .section1-3{
      cursor: default;
      border-radius: 20px 5px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #services .section2-3{
      margin: 0px 0px -5px -5px;
      border-radius: 0 0 0 5px;
      width: 326px;
    }
    #services .section3-3{
      margin: 0px -5px 5px 5px;
      border-radius: 0 0 20px 0;
      width: 319px;
    }
    #services .no-flip-card {
      flex-wrap: wrap;
      justify-content: center;
      width: 666px;
      margin: 0 auto;
    }
    #services .img-1, #services .img-2, #services .img-3, #services .img-4, #services .img-5, #services .img-6, #services .img-7, #services .img-8, #services .img-9, #services .img-10, #services .img-11, #services .img-12, #services .img-13, #services .img-14, #services .img-15, #services .img-16, #services .img-17, #services .img-18, #services .img-19, #services .img-20{
      background-position: 50% 50%;
      width: 100%;
    }


    /*Tab articles*/
    #actualites article{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    #actualites .card{
      margin: 5px;
    }
    #actualites img{
      width: 310px;
    }
    #actualites .button-article{
      margin: -57px 0 0 172px;
    }
  
    /*Tab archives*/
    #archives .archives-menu a{
      margin: 10px;
      width: 50%;
    }
  
    /*Tab article*/
    #article img {
      width: 50%;
    }
    
  /*Tab faq*/
  #faq {
    margin: -30px 0 0 0;
  }
  #faq article {
    margin:40px 0;
    padding: 20px 0 0 0;
  }

  
  /*Tab contact*/
  #contact iframe {
    width: 350px;
    height: 350px;
      margin: 0;
    }
    .tel-mail {
      display: flex;
      justify-content: center;
    }
    .tel-mail a, .txt-location {
      margin: 0;
      width: 350px;
    }
    .localisation {
      display: flex;
      justify-content: center;
      margin:20px 0px;
    }
  .reseaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .reseaux a {
    width: 250px;
    margin: 0 20px;
    z-index: 2;
  }
  @keyframes contact-elevation-note {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    100% {
        transform: rotate(270deg);
        margin-top: -900px;
        opacity: 0;
      }
  }
  @keyframes contact-elevation-note2 {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: rotate(-270deg);
      margin-top: -900px;
      opacity: 0;
    }
  }

  /*end tab style*/
}










  /*Desktop style*/
  @media (min-width: 1024px) {

  /*Header desk*/
    .buttonMenu {
      display: none;
    }
    .logo {
      width: 125px;
      position: absolute;
      left: 15px;
    }
    header {
      height: 150px;
      border: none;
      margin-bottom: -150px;
    }
    header p {
      font-family:pacifico;
      font-size: 40px;
      font-weight: 900;
    }
    header a {
      width: 100%;
    }


    /*Desk barre de menu*/
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin:170px 0 0 0;
      padding: 0;
      top: 0px;
      left: 0px;
      width: 100%;
      z-index: 2;
    }
    nav a {
      opacity: 1;
      transform: scale(1);
      display: block;
      border-radius: 20px 10px 20px 10px;
      border: 1px solid #fff;
      background-color: #FF2D43;
      color: #000;
      font-weight: 600;
      font-size: 15px;
      padding: 8px 0px;
      margin: 0 5px;
      box-shadow: -1px 3px 5px #818181;
    }
    nav a:hover {
      background-color: #001F3F;
      color: #fff;
      border: 1px solid transparent;
      box-shadow: none;
    }
    .menu-active {
      background-color: #000;
      color: #fff;
      box-shadow: none; 
    }


    /*Desk section 1*/
    #section1 {
      height: 100vh;
      /* background-color: green; */
    }
    .vinyle {
      width: 350px;
      margin: 40px 0 0 -150px;
    }
    .logoAccueil{
      width: 180px;
      margin: 40px 0 0 70px;
      padding:0px;
    }
    
    
    #section2 p, #section5 p{
      text-align: left;
      padding: 0 100px 0 10px;
      margin:0 0 0 -70px;
    }
    #section2 h2, #section5 h2{
      text-align: left;
      padding: 10px 100px 0 10px;
      margin:0 0 0 -70px;
    }
    #section4 p, #section6 p{
      text-align: right;
      padding: 0 10px 0 100px;
      margin:0 -70px 0 0px;
    }
    #section4 h2, #section6 h2{
      text-align: right;
      padding: 10px 10px 0 100px;
      margin:0 -70px 0 0px;
    }
  
  
  






    /*REFACTORY HERE*/
    
    
    /*Desk lancer de vinyle twirleuse*/
    .note-elevation {
      margin:-50px 0px 0px 320px;
    }
    #contact .note-elevation {
      margin:-50px 0px 0px 320px;
    }
    
    /*Desk all size article img*/
    article img {
      width: 70%;
      margin: auto;
    }
  
  /*Desk archives*/
  #archives h1 {
    padding: 100px 0 0 0;  
  }
  #archives .archives-menu{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  #archives .archives-menu a{
    margin: 10px;
    width: 25%;
  }
  
  
    /*Desktop margin top all page*/
    #artistes h1, #actualites h1, #top-adresses h1, #services h1, #contact h1, #article h1  {
      padding: 100px 0 0 0;
      margin: 0px 0 0 0;
    }
    .info-title {
        padding: 100px 0 0 0;
        margin: 0px 0 -180px 0;
      }
      
  
      #artistes ul {
        display: flex;
        flex-wrap: wrap;
      }
      #artistes li.carousel-item {
        margin: 20px 10px;
        display: flex;
        justify-content: center;
      }
      #artistes .carousel-items {
        overflow-x: hidden;
      }
      #section8 .logos {
        overflow-x: hidden;
      }
  
        /*Desk articles*/
  
        #article img {
          width: 50%;
        }
        #article iframe {
          width: 50%;
          height: 400px;
        }
      
  
        /*Desk faq pratiques*/
        .info-menu {
          margin-bottom: -160px;
        }
        .info-menu-title {
          margin: 210px 0 10px 0;
        }
        .info-menu a p{
          width: 190px;
        }
        #faq {
          display: flex;
          flex-wrap:wrap;
          justify-content: center;
          height: 100%;
          margin: 200px 0 0 0;
        }
        #faq article {
          width: 45%;
          margin: 20px;
          border: 1px #fff solid;
          padding: 20px 0 0 10px;
          border-radius: 20px;
        }
        
        #faq details {
          border-bottom: none;
          border-top: 1px #fff solid;
    }
        #faq h2 {
          border-bottom: none;
    }
  
  
       /*Desk contact*/
       .contact-faq {
        display: flex;
        justify-content: center;
        z-index: 2;
      }
      #contact iframe {
        width: 1000px;
        height: 300px;
        z-index: 2;
        margin: 20px 0 20px -690px;
      }
      .tel-mail {
        display: flex;
        justify-content: space-around;
        z-index: 2;
      }
      .tel-mail a, .txt-location {
        margin: 0;
        width: 380px;
      }
      .localisation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0px;
      }
      
      .reseaux a {
        margin: 20px 50px;
      }
      @keyframes elevation-contact {
        to {
          margin-top: -850px;
        }
      }
      .note {
        position: absolute;
        width: 110px;
        margin: 50px 0 0 -325px;
      }
    
      /*Desk entrainement*/
      #services .no-flip-card {
        width: 996px;
        padding-bottom: 0;
      }
      #services .carousel-items {
        overflow-x: hidden;
      }
      #services .entrainement-descriptions {
        width: 50%;
        }   
      /* #services .section1-3{
        width: 320px;
        border-radius: 20px 0 0 20px;
        margin: 5px;
      } */
      #services .section2-3{
        margin: 5px 0px;
        border-radius: 0;
        width: 330px;
      }
      #services iframe{
        border-radius: 0;
      }
      #services .section3-3{
        border-radius: 0 20px 20px 0;
        margin: 5px;
      }
      #services .section3-3 img{
        width: 100%;
        border-radius: 0 20px 20px 0;
      }
  
  
  
  
  
        #section3 .right-article, #section3 .left-article{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 55px 30px 1fr;
        }
        #section3 .date-article{
          display: block;
        }
        #section3 .left-article p{
          text-align: left;
          padding: 0 100px 0 10px;
          margin:0 0px 0 -70px;
        }      
        #section3 .left-article h2{
          text-align: left;
          padding: 10px 0px 0 10px;
          margin:0 0px 0 -70px;
        }      
        #section3 .right-article .date-article{
          display: block;
          grid-column:1;
          grid-row: 2;
        }
        #section3 .right-article h2{
          text-align: right;
          padding: 10px 10px 0 100px;
          margin:0 -70px 0 0px;
        }
        #section3 .right-article p{
          text-align: right;
          padding: 0 10px 0 100px;
          margin:0 -70px 0 0px;
        }
        .logos:after {
          width: 400px;
        }
        footer {
          position: absolute;
          left: 0;
          right: 0;
        }
  
        /*Desk Degrés*/
        #degres h1 {
          padding:100px 0 0 0;  
        }
        #degres article {
        width: 300px;
        }
        /*Degrés détaillé*/
        #degres-details h1 {
          padding: 100px 0 10px 0;  
        }
        #degres-details article {
          width: 25%;
        }
  
        /*Degrés détaillé série*/
        #degres-details-serie h1 {
          padding: 100px 0 0 0;  
        }
        #degres-details-serie iframe {
          width: 80%;
        }
        #degres-details-serie div{
          width: 20%;
        }
        #degres-details-serie div img{
          width: 100%;
        }
        
        
        
        
      }
  